---
---

$bg-color:       {{ site.background_color }};
$accent-color:   {{ site.accent_color }};
$header-font:    "/assets/fonts/MajorMonoDisplay-Regular.ttf";
$font:           "/assets/fonts/MontserratAlternates-Light.ttf";

// Default numbers
$article-width: 600px;
$content-spacing: 10px;

@import "base";
